@font-face{
    font-family: "Lato-Light";
    src: url("../font/Lato-Light.ttf");
}


@font-face {
    font-family: "Lato-Regular";
    src: url("../font/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato-Black";
    src: url("../font/Lato-Black.ttf");
}